body {

}

.Contact {
    p.submitted {
        padding: 50px 0px;
        text-align: center;
    }
}

form {
    &#ContactForm {
        width: 500px;
        margin: 0 auto;
    }

    padding: 40px;

    label {
        display: inline-block;
        margin-top: 6px;
        margin-right: 10px;
        text-align: right;
        width: 150px;
        vertical-align: top;
    }
    input[type=text], input[type=email], textarea {
        padding: 8px 16px;
        margin-bottom: 10px;
        border-radius: 6px;
        border: 1px solid #aaa;
        width: 300px;
    }

    textarea {
        height: 300px;
    }

    div.submit {
        text-align: right;
    }

    input[type=submit] {
        width: 120px;
        height: 35px;
    }
}

#root {
    font-family: 'Marcellus', serif;
    max-width: 1000px;
    margin: 0 auto;

    hr {
        border: none;
        border-top: 1px solid #aaa;
    }

    header {
        text-align: center;

        h1 {
            font-family: 'Cinzel Decorative', cursive;
            font-size: 4em;
            margin-bottom: -30px;

            background: rgb(2,0,36);
            background: linear-gradient(0deg, rgba(148,148,148,1) 0%, rgba(0,0,0,1) 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h2 {
            font-family: 'Cinzel Decorative', cursive;
            font-size: 1.5em;
            background: rgb(129,181,143);
            background: radial-gradient(circle, rgba(129,181,143,1) 0%, rgba(79,160,217,1) 60%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        ul {
            text-align: left;
            list-style: none;
            margin: 0 auto;
            width: 480px;

            li {
                display: inline-block;
                padding-right: 20px;
                margin-right: 20px;
                border-right: 1px dotted #333;

                &:last-of-type {
                    border-right: none;
                }

                a {
                    color: #b76158;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    footer {
        text-align: center;
    }
}