body {
    margin: 0px 0px;
    background-color: #eee;
}

#root {
    font-family: 'Marcellus', serif;
    background-color: #fff;

    .material-symbols-outlined {
        vertical-align: middle;
        margin-right: 5px;
    }

    hr {
        border: none;
        border-top: 1px solid #aaa;
    }

    header {
        text-align: center;
        margin-bottom: 50px;
        padding-top: 40px;

        h1 {
            font-family: 'Cinzel Decorative', cursive;
            font-size: 4em;
            line-height: 1em;
            margin: 0;

            background: rgb(2, 0, 36);
            background: linear-gradient(0deg, rgba(148, 148, 148, 1) 0%, rgba(0, 0, 0, 1) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        h2 {
            font-family: 'Cinzel Decorative', cursive;
            font-size: 1.5em;
            line-height: 1.5em;
            margin: 0;
            background: rgb(129, 181, 143);
            background: radial-gradient(circle, rgba(129, 181, 143, 1) 0%, rgba(79, 160, 217, 1) 60%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }

        ul {
            text-align: left;
            list-style: none;
            margin: 0 auto;
            width: 390px;
            padding: 0px;

            li {
                display: inline-block;
                padding-right: 15px;
                margin-right: 15px;
                border-right: 1px dotted #333;

                &:last-of-type {
                    border-right: none;
                    margin-right: 0px;
                    padding-right: 0px;
                }

                a {
                    color: #b76158;
                    text-decoration: none;
                    font-weight: bold;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    & > div > section {
        padding: 0px 20px;
    }

    div {
        &.Store {
            font-family: 'IBM Plex Serif', serif;

            div {
                &.sidebar {
                    width: 220px;
                    display: inline-block;
                    vertical-align: top;
                    margin-right: 20px;
                }

                &.StoreFilter {
                    width: 100%;
                    border: 1px solid #aaa;
                    border-radius: 6px;
                    padding: 20px;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 10px rgba(98, 98, 98, 0.11);

                    h3 {
                        display: inline-block;
                        margin-top: 0px;
                        margin-bottom: 10px;
                    }

                    hr {
                        margin: 20px 0;
                    }

                    label {
                        font-size: .85em;
                    }

                    select {
                        width: 100%;
                        margin-top: 5px;
                        font-family: 'IBM Plex Serif', serif;
                    }

                    input[type=range] {
                        width: calc(100% - 50px);
                        vertical-align: middle;
                    }

                    span.price {
                        font-family: 'Cinzel Decorative', cursive;
                        font-size: 12px;
                        vertical-align: middle;
                    }
                }

                &.StoreCart {
                    width: 100%;
                    border: 1px solid #aaa;
                    border-radius: 6px;
                    padding: 20px 20px;
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    margin-top: 20px;
                    box-shadow: 0px 0px 10px rgba(98, 98, 98, 0.11);
                }

                &.StoreItems {
                    width: calc(100% - 250px);
                    min-height: 600px;
                    border: 1px solid #aaa;
                    border-radius: 6px;
                    display: inline-block;
                    vertical-align: top;
                    box-sizing: border-box;
                    box-shadow: 0px 0px 10px rgba(98, 98, 98, 0.11);
                    padding: 20px;

                    div.item {
                        font-size: 0.8em;

                        width: calc(33% - 10px);
                        padding: 8px;
                        border: 1px solid #aaa;
                        border-radius: 6px;
                        display: inline-block;
                        vertical-align: top;
                        box-sizing: border-box;
                        margin-right: 10px;
                        margin-bottom: 10px;

                        img {
                            width: 100%;
                            border-radius: 4px;
                        }
                    }
                }
            }
        }
        &.Contact {
            form#ContactForm {
                display: inline-block;
                vertical-align: top;
                width: 100%;
            }

            section.info {
                display: inline-block;
                max-width: 450px;
            }

            p.submitted {
                padding: 50px 0px;
                text-align: center;
            }
        }

        p {
            padding-left: 25px;
            border-left: 5px solid #eee;

            &.accent {
                border-color: #b761582e;
            }

            &.accentSecondary {
                border-color: #585eb72e;
            }
        }
    }

    form {
        margin-top: 25px;

        label {
            box-sizing: border-box;
            display: inline-block;
            margin-top: 6px;
            margin-right: 10px;
            width: 100%;
            vertical-align: top;
        }

        input[type=text],
        input[type=email],
        textarea {
            box-sizing: border-box;
            padding: 8px 16px;
            margin-bottom: 10px;
            border-radius: 6px;
            border: 1px solid #aaa;
            width: 100%;
        }

        textarea {
            height: 200px;
        }

        div.submit {
            text-align: right;
        }

        input[type=submit] {
            width: 50%;
            height: 35px;
        }
    }


    footer {
        margin-top: 50px;
        text-align: center;
        font-size: 14px;
        line-height: 40px;
        font-family: 'Cinzel Decorative', cursive;
    }
}

@media screen and (min-width: 768px) {
    #root {
        max-width: 1000px;
        margin: 0 auto;
        padding: 10px 100px;
        border: 1px solid #ccc;
        border-top: none;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);

        div.Contact {
            section.info {
                width: calc(50% - 50px);
                box-sizing: border-box;
            }
            form#ContactForm {
                box-sizing: border-box;
                width: calc(50%);
                margin-left: 50px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #root {
        max-width: 100%;
        overflow-x: hidden;
    }
}